/* .general{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.body{
    height: 80vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.head{
    margin-bottom: 20px;
}

h2{
    color: #276AB3;
    font-size: 25px;
    
}

form{
    display: block;
}

.input-field {
    position: relative;
    width: 35rem;
    height: 44px;
    line-height: 44px;
    margin-block: 14px;
    
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #276AB3;
    transition: 0.2s all;
    cursor: text;
  }
  input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #276AB3;
  }
  input:invalid {
    outline: 0;
    color: #276AB3;
    border-color: #276AB3;
  }
  input:focus,
  input:valid {
    border-color: #00dd22;
  }
  input:focus~label,
  input:valid~label {
    font-size: 14px;
    top: -24px;
    color: #276AB3;
  }
  
textarea{
    width: 15rem;
    height: 6rem;
    resize: none;
    border: solid #276AB3 2px;
    outline: none;
    color: #276AB3;
}  
textarea::placeholder{
    color: #276AB3 ;
    font-size: 15px;
    top: 5px;
}


img{width: 30vw;
  height: 80vh;
}
.photo{
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}
.formbtn{
  background-color: #276ab3;
  color: white;
  padding: 10px 28px;
  border-radius: 10px;
  margin-left: 14rem;
  border: 2px solid white;
  cursor: pointer;
}
button:hover{
  background-color: rgb(90, 118, 255);
  color: white;
  transition: all 0.4s ease-in;
}

@media (max-width: 390px) {
  .general{
    display: block;
    margin-top: 61px;
    margin-bottom: -130px;
  }
  .input-field{
    width: 23rem;
    margin-block: 22px;
  }
  .body{
    margin-left: 59px;
    margin-top: 148px;
  }

  img {
    width: 100vw;
    height: 40vh;
    margin-bottom: -120px;
  }
  .formbtn{
    width: 10rem;
    margin-left: 7rem;
  }
 
}

@media (max-width: 414px) {
  .general{
    display: block;
    margin-top: 61px;
    margin-bottom: -250px;
  }
  .head{
    margin-top: -250px;
  }
  .input-field{
    width: 23rem;
    margin-block: 22px;
  }
  .body{
    margin-left: 59px;
  }

  img {
    width: 100vw;
    height: 40vh;
    /* margin-bottom: -120px; */
  /* } */
  /* .formbtn{
    width: 10rem;
    margin-left: 7rem;
  } */
/* } */ 