footer .main .sub-dom{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}
.main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2.5rem 4rem;
}

.main .sub-dom .company ul li a{
    color: #dacbcb;
}

.main .sub-dom .company ul li{
    color: #dacbcb;
    FONT-SIZE: 13PX;
    LETTER-SPACING: 1PX;
    padding: 0.7rem 0;
}

.main .sub h4,.main .sub-dom .company ul label b{
    color: white;
}

footer{
    MARGIN-TOP: 30PX;
    PADDING: 20PX;
    background-color: #276ab3;
}

.line{
    border-top: 2px solid white;
}

@media (max-width:800px) {

    footer .main .sub-dom {
        display: flex;
    }

    footer .main .sub-dom {
        gap: 1.2rem;
    }

    .main{
        padding: 1.2rem 2rem;
        display: block;
    }

    .company ul{
        font-size: 13px;
    }
    
    .company ul li a{
        font-size: 12px;
    }
}

@media (max-width:425px) {
    footer .main .sub-dom{
        display: block;
    }

    .sub{
        margin-bottom: 20px;
    }
}